<nav class="main_nav_bar navbar navbar-expand-lg nav-color bg-dark p-3">
  <div class="container-fluid">
    <div class="row nav_itens">
      <div class="col">
        <a class="custom_hover" routerLink="homePage">MorekaluAPP</a>
      </div>
      <div class="col">
        <a class="custom_hover" routerLinkActive="is-active" routerLink="homePage">Home</a>
      </div>
      <div class="col">
        <a class="custom_hover" routerLinkActive="is-active" routerLink="videoPlayer">Player</a>
      </div>
      <div class="col">
        <a class="custom_hover" routerLinkActive="is-active" routerLink="madeReviews">Reviews</a>
      </div>
    </div>
  </div>
</nav>