<main class="container w-100 h-100 bg-transparent">
  <div class="row mt-5">
    <h1>Olá ;D</h1>
  </div>
  <div class="row mt-5">
    <h2>Se está vendo isto, então quer dizer que o projeto está rodando!</h2>
    <h2>Bom, neste site você pode visualizar alguns reviews que eu e minha namorada fizemos sobre alguns filmes u.u</h2>
  </div>
  <div class="row mt-5">
    <h2>Tomara que o projeto dê certo, é pra ter histórico de reviews, adição de novas reviews</h2>
    <h2>Talvez futuramente um webchat com direito a tranmissão de vídeo para não dependermos mais de discord</h2>
  </div>
  <div class="row mt-5">
    <h2>As vezes seria interessante uma maneira de transmitir vídeos pra gente adaptar pra internet lenta</h2>
    <h5>Por que a internet da Karina realmente é lenta pra caralho, nossa senhora!</h5>
  </div>
</main>