<main class="container-fluid w-100 h-100 bg-transparent">
    <div class="container-fluid h-100 d-flex">
        <div class="container w-50 p-5 add_review">
            <h1>Adicionar uma review</h1>
            <div class="mb-3">
                <label for="movie_name" class="form-label">Nome do filme</label>
                <input type="text" class="form-control" id="movie_name" name="movie_name" [(ngModel)]="_curr_review.movie_name" />
            </div>        
            <div class="mb-3">
                <label for="movie_name" class="form-label">Review do filme</label>
                <textarea type="text" class="form-control" id="review_text" name="review_text" [(ngModel)]="_curr_review.review_text" ></textarea>
            </div>        
            <div class="mb-3">
                <label for="movie_genre" class="form-label">Gêneros do filme</label>
                <input type="text" class="form-control" id="movie_genre" name="movie_genre" [(ngModel)]="genres" (input)="sliceGenres()" />
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col add_col_genre" *ngFor="let genre of _curr_review.movie_genres; index as i">
                        <span class="styled_genre">{{genre}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3" style="width:218px">
                    <label for="release_year" class="form-label">Ano de lançamento</label>
                    <input type="number" class="form-control" name="release_year" id="release_year" [(ngModel)]="_curr_review.movie_release_year">
                </div>
                <div class="mb-3" style="width:250px">
                    <label for="movie_score" class="form-label">Nota para o filme</label>
                    <input type="number" class="form-control" max="10" style="width:80px" name="movie_score" id="movie_score" [(ngModel)]="_curr_review.review_score" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="generic">
                    <button type="button" class="btn btn-primary" (click)="postNewReview()">Registrar</button>
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column p-5">
            <div class="title_div">
                <h1>Listagem de reviews</h1>
            </div>
            <div class="row mt-4" *ngIf="reviews === undefined">
                <h4>Não foram encotradas reviews cadastradas!</h4>
                <h6>Você pode cadastrar uma nova no menu à esquerda ;)</h6>
            </div>
            <div class="list_reviews overflow-scroll position-relative p-3">
                <div *ngFor="let review of reviews" class="card review_card mt-3 me-3">
                    <div class="container" *ngIf="review.id != update_card.which_card">
                        <div class="row d-flex">
                            <div class="col col_id">
                                <span class="text-danger">{{review.id}}</span>
                            </div>
                            <div class="col max_cont">
                                <strong>Nome do filme: </strong><span>{{review.movie_name}}</span>
                            </div>  
                            <div class="col ms-auto max_cont only_on_hover">
                                <i class="me-3 mt-1 fa fa-wrench text-warning btn_cursor" style="font-size: 20px;" (click)="updateMode(review, true);"></i>
                                <i class="ms-3 mt-1 fa fa-times text-danger btn_cursor" style="font-size: 20px;" (click)="deleteReview(review.id);"></i>
                            </div>                      
                        </div>
                        <div class="row row_review">
                            <span><strong>Review: </strong><span>{{review.review_text}}</span></span>
                        </div>
                        <div class="row">
                            <div class="col max_cont">
                                <strong class="max_cont">Gêneros: </strong> 
                            </div>
                            <div class="col max_cont col_genre" *ngFor="let genre of review.movie_genres" >
                                <span>{{genre}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col max_cont">
                                <strong>Ano de lançamento: </strong><span>{{review.movie_release_year}}</span>
                            </div>
                            <div class="col max_cont">
                                <strong>Nota da review: </strong><span>{{review.review_score}}</span>
                            </div>
                            <div class="col max_cont">
                                <strong>Review feita no dia </strong><span>{{ review.review_date | date:'dd/MM/yyyy' }} 
                                    às 
                                {{ review.review_date | date:'HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="container" *ngIf="review.id == update_card.which_card && update_card.can_update">
                        <div class="row">
                            <div class="col col_id">
                                <span class="text-danger">{{review.id}}</span>
                            </div>
                            <div class="col max_cont col_title">  
                                <strong>Nome do filme: </strong><input class="custom_input" [(ngModel)]="_temp_update_review.movie_name" />
                            </div>  
                            <div class="col max_cont ms-auto only_on_hover">
                                <i class="me-3 mt-2 fa fa-check text-success btn_cursor" style="font-size: 20px;" (click)="updateReview(review)"></i>
                                <i class="ms-3 mt-2 fa fa-archive text-secondary btn_cursor" style="font-size: 20px;" (click)="updateMode(undefined, false)"></i>
                            </div>                      
                        </div>
                        <div class="row row_review  mt-2 d-flex">
                            <div class="col max_cont">
                                <strong clas="max_cont">Review: </strong>
                            </div>
                            <div class="col w-100">
                                <textarea class="form-control mb-2" [(ngModel)]="_temp_update_review.review_text" rows="1" cols="20"></textarea>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col max_cont">
                                <strong class="max_cont">Gêneros: </strong> 
                            </div>
                            <div class="col max_cont col_genre" *ngFor="let genre of review.movie_genres" >
                                <span>{{genre}}</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col max_cont d-flex align-items-center">
                                <div class="generic">
                                    <strong class="max_cont">Ano de lançamento: </strong><span class="max_cont">{{review.movie_release_year}}</span>
                                </div>
                            </div>
                            <div class="col max_cont d-flex align-items-center">
                                <div class="row">
                                    <span class="max_cont d-flex align-items-center"><strong>Nota da review: </strong></span>
                                    <input type="number" class="form-control input_number" [(ngModel)]="_temp_update_review.review_score"> 
                                </div>
                            </div>
                            <div class="col m-auto">
                                <strong>Review feita no dia </strong><span>{{ review.review_date | date:'dd/MM/yyyy' }} 
                                    às 
                                {{ review.review_date | date:'HH:mm:ss'}}</span>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

