/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    position: relative;
}

.app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom_height {
    position: relative;
    height: 100%;
}

main {
    max-height: 100%;
    position: absolute;
    overflow-y: scroll;
}