/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    position: relative;
}

.app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom_style {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}

main {
    max-height: 100%;
    position: absolute;
    overflow-y: auto;
}

/* Scroll */

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}